<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
 <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <a href="/trips"><img class="tripio-logo" src="../../images/tripio_logo_white.svg"></a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if (user) { %>
          <h7>Hi, <%= user.name %> </h7>
            <a class="mdl-navigation__link fixed-link" href="/trips/new">Create Trip</a>
            <a class="mdl-navigation__link fixed-link" href="/mytrips">My Trips</a>
            <a class="mdl-navigation__link fixed-link" href="/logout">Log Out</a>
          <% } else { %>
            <a class="mdl-navigation__link fixed-link" href="/auth/facebook">Log In</a>
          <% } %>
        </nav>
      </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <a href="/trips"><img class="tripio-logo" src="../../images/tripio_logo_black.svg"></a>
    </span>
    <nav class="mdl-navigation drawer-nav">
      <div class="navbar-drawer-separator"></div>
      <% if (user) { %>
        <br><h7> Hi, <%= user.name %> </h7><br>
        <div class="navbar-drawer-separator"></div>
        <a class="mdl-navigation__link drawer-link" href="/trips/new">Create Trip</a>
        <a class="mdl-navigation__link drawer-link" href="/mytrips">My Trips</a>
        <a class="mdl-navigation__link drawer-link" href="/logout">Log Out</a>
      <% } else { %>
        <a class="mdl-navigation__link drawer-link" href="/auth/facebook">Log In</a>
      <% } %>
      <div class="navbar-drawer-separator"></div>
      <a class="mdl-navigation__link drawer-link" href="">About</a>
    </nav>
  </div>
