<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
 <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <a href="/trips"><img class="tripio-logo" src="../../images/tripio_logo_white.png"></a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if (user) { %>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/trips/new">Create Trip</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/mytrips">My Trips</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/logout">Logout</a>
          <% } else { %>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/auth/facebook">Login</a>
          <% } %>
</nav>
      </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <a href="/trips"><img class="tripio-logo" src="../../images/tripio_logo_black.png"></a>
    </span>

    <nav class="mdl-navigation">
      <% if (user) { %>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/trips/new">Create Trip</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/mytrips">My Trips</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/logout">Logout</a>
      <% } else { %>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/auth/facebook">Login</a>
      <% } %>
      <div class="navbar-drawer-separator"></div>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
    </nav>
  </div>
