<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
        <h2>My Trips</h2>
        <ul>
          <% user.trips.forEach(function(trip) { %>
            <li><%= trip.name %></li>
          <% }); %>
        </ul>
    </div>
    </main>
    </div>
  </body>
</html>
