<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
      <h3>Create A New Trip</h3>
      <% include ./partials/_form %>
    </div>
    </main>
    </div>
  </body>
</html>
