<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
  <% include ./partials/_nav %>
    <h1>New Trip</h1>
    <p>This is the new view</p>
    <% include ./partials/_form %>
  </body>
</html>
