<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <!-- Nav bar goes here -->
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
        <h2>Show Trip</h2>
        <p>This is the show view</p>

    </div>
    </main>
    </div>
  </body>
</html>
