h7 {
  padding-right: 20px;
  padding-left: 40px;
}

.mdl-navigation__link {
  opacity: 1;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: teal;
  padding: 16px 40px;
}

.mdl-layout__header-row {
  padding-right: 0;
}

.fixed-link {
  transition: 0.4s;
  color: #FFFFFF;
}

.fixed-link:hover {
  background-color: #FFFFFF;
  opacity: 0.8;
  color: teal;
  padding: 0 40px;
}

.drawer-link {
  transition: 0.4s;
}

.tripio-content {
  margin: 40px 60px;
}

.tripio-logo {
  height: 65px;
}

.navbar-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
  margin-bottom: 15px;
}

.circle {
  height: 65%;
  margin-right: -30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.tripio-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/sample.png') center / cover;
}

.mdl-card__menu > a {
  color: white;
}

.tripio-rating {
  height: 30px;
  width: 125px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 15px;
  padding-right: 10px;
}

.tripio-rating div {
  background-color: yellow;
  height: 30px;
  width: 125px;
  position: relative;
  top: 0;
  left: 0;
}

.tripio-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  border: 0;

}

.tripio-card > .mdl-card__menu {
  color: #fff;
}

.tripio-show, .tripio-my-trips {
  text-align: center;
}

#rating {
  left: 0;
  top: 0;
  text-align: center;
  perspective: 250px;
  top: 40%;
  width: 100%;
}

#rating span {
  cursor: pointer;
  font-size: 20px;
  padding: 0 10px;
  color: #000000;
  opacity: .7;
  transition: all 150ms;
  display: inline-block;
  transform: rotateX(45deg);
  transform-origin: center bottom;
}

#rating span.hover {
  color: yellow;
  opacity: 1;
  transform: rotateX(0deg) scale(1.1);
  text-shadow: 1px 1px 0 #6e2c00,
     -1px -1px 0 #6e2c00,
      1px -1px 0 #6e2c00,
      -1px 1px 0 #6e2c00,
       1px 1px 0 #6e2c00;
}

#map_canvas {
  height: 100%;
  width: 100%;
}
