body {
}

a {
  color: #00B7FF;
}

.tripio-content {
  margin: 40px 60px;
}

.tripio-logo {
  height: 65px;
}

.navbar-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.tripio-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/sample.png') center / cover;
}

.tripio-card > .mdl-card__menu {
  color: #fff;
}

.tripio-show {
  text-align: center;
}

#rating {
  text-align: center;
  perspective: 250px;
  position: absolute;
  top: 40%;
  width: 100%;
}

#rating span {
  cursor: pointer;
  font-size: 20px;
  padding: 0 10px;
  color: #000000;
  opacity: .7;
  transition: all 150ms;
  display: inline-block;
  transform: rotateX(45deg);
  transform-origin: center bottom;
}

#rating span.hover {
  color: #117a65;
  opacity: 1;
  transform: rotateX(0deg) scale(1.1);
  text-shadow: 2px 2px 20px #117a65;
}
