body {
}

a {
  color: #00B7FF;
}

.tripio-content {
  margin: 40px 60px;
}

.tripio-logo {
  height: 65px;
}

.tripio-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/sample.png') center / cover;
}

.tripio-card > .mdl-card__menu {
  color: #fff;
}

.tripio-show {
  text-align: center;
}
